@{
    ViewData["Title"] = "Home Page";
}


<div class="ui blue inverted  aligned segment">
    <p>
        <strong>User:</strong> user@@test.com<br />
        <strong>Moderator:</strong> mod@@test.com<br />
        <strong>Admin:</strong> admin@@test.com
    </p>
    <p><strong>Password:</strong> YouShouldChangeThisPassword1!</p>
    <p>
        <strong>Protected Resource:</strong> 
        <a asp-controller="Home" asp-action="Protected" class="ui secondary small button" target="_blank">/Home/Protected</a>
    </p>
</div>
